<div class="container">
  <div class="signUpCard">
    <form [formGroup]="SignUpForm" (ngSubmit)="signUp()">
      <h2 class="heading">Sign Up</h2>
      <label class="label">Enter your email address</label>
        <input type="email"
               name="email"
               formControlName="email"
               maxlength="60"
               class="formInput"/>
      <label class="label">Choose a password</label>
      <input type="password"
             name="password"
             formControlName="password"
             maxlength="60"
             class="formInput"/>
      <label class="label">Enter a display name</label>
        <input type="text"
               name="displayName"
               formControlName="displayName"
               maxlength="60"
               class="formInput"
               maxlength="12"/>
      <button type="submit" class="btn" id="btn-signUp">
        Sign Up
      </button>
    </form>
  </div>
</div>
